In [1]:
# import neccessary tools

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import os
import requests

%matplotlib inline

In [2]:
    # import envs
    
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
    # get alpaca keys

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
    # creating alpaca api object
    
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2")

In [5]:
    # set api keys

api_key = os.getenv("ALPACA_API_KEY", "ALPACA_SECRET_KEY")

In [6]:
# creating variables for crypto currencies

my_btc = 1.2
my_eth = 5.3

In [7]:
    # get url for btc

btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"

In [8]:
btc_response = requests.get(btc_url).json()

In [9]:
btc_response['data']['1']['quotes']['CAD']['price']

44986.8632

In [10]:
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"

In [11]:
eth_response = requests.get(eth_url).json()

In [12]:
eth_response["data"]["1027"]["quotes"]["CAD"]["price"]

3132.648416

In [13]:
my_agg = 200
my_spy = 50

In [14]:
# Set timeframe to '1D'

timeframe = "1D"

# Set start and end datetimes between now and 5 years ago.

start_date = pd.Timestamp("2016-06-09", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-06-09", tz="America/New_York").isoformat()

# Set the ticker information

tickers = ["AGG", "SPY"]

# Get 5 year's worth of historical price data

investment_data_ticker = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit = 1000
).df

# Display sample data

investment_data_ticker.tail()

                              AGG                                         SPY  \
                             open    high     low    close     volume    open
time
2021-06-03 00:00:00-04:00  114.31  114.46  114.21  114.210  3270096.0  417.87
2021-06-04 00:00:00-04:00  114.39  114.67  114.22  114.665  4334878.0  420.75
2021-06-07 00:00:00-04:00  113.97  114.64  113.97  114.595  3639918.0  422.59
2021-06-08 00:00:00-04:00  114.84  114.87  114.78  114.820  3951702.0  423.11
2021-06-09 00:00:00-04:00  115.43  115.43  114.97  115.050  3418086.0  423.18


                             high       low   close      volume
time
2021-06-03 00:00:00-04:00  419.99  416.2800  418.86  51582905.0
2021-06-04 00:00:00-04:00  422.92  418.8422  422.57  45129316.0
2021-06-07 00:00:00-04:00  422.78  421.1900  422.23  41442963.0
2021-06-08 00:00:00-04:00  423.21  420.3200  422.27  40131441.0
2021-06-09 00:00:00-04:00  423.26  421.4100  421.62  38368598.0

In [15]:
# Create and empty DataFrame for closing prices

data_ticker= pd.DataFrame()

# Fetch the closing prices for all the tickers

for ticker in tickers:
    data_ticker[ticker] = investment_data_ticker[ticker]["close"]

# Drop the time component of the date

data_ticker.index = investment_data_ticker.index.date

# Display sample data
data_ticker.head()

                AGG     SPY
2017-06-19  109.790     NaN
2017-06-20  109.975  243.04
2017-06-21  109.980  242.95
2017-06-22  110.050  242.83
2017-06-23  110.070  243.16

In [19]:
    # calculate closing sum

closing_AGG = data_ticker["AGG"].sum()
closing_SPY = data_ticker["SPY"].sum()

In [22]:
closing_AGG.round(2)

111380.94

In [23]:
closing_SPY.round(2)

301017.25